<strong><h3>SQL DEVELOPER</h3></strong>
<hr class="one">
<div class="row">
  <div class="col-md padleft1">Analytical, detail-oriented business professional with demonstrated success in identifying, designing, and implementing internal process improvements and optimizing data delivery. Understands data flow, troubleshoots data issues and responds to requests for data in a timely manner. Knowledge of data integration, SQL programming, ETL and data warehouse concepts and processes. Key competencies:
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <ul>
      <li>SQL Server Developer</li>
      <li>Data Sharing / Warehousing</li>
      <li>Data Analysis</li>
      <li>Quality / Continuous Improvement</li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul>
      <li>Enterprise Software Implementation</li>
      <li>Data Conversion</li>
      <li>Project Implementations</li>
      <li>Leadership / Training / Collaborator</li>
    </ul>
  </div>
</div>
<strong><h3>EXPERIENCE</h3></strong>
<hr class="one">m
<div class="row">
  <div class="col-md-10 padleft">
    <strong>Boot Barn</strong> -- Irvine, CA
  </div>
</div>
<div class="row">
  <div class="col-md-4 padleft2">
    <strong><i>CRM Data Analyst</i></strong>
  </div>
  <div class="col-md-2 col-md-offset-6">
    <strong><i>08/2018 – 06/2020</i></strong>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul>
      <li>Responsible for managing direct mail lists, analyzing ROI, segmentation and making recommendations.</li>
      <li>Performed as-needed on-going data analysis to support ad-hoc and standard business requests while maintaining data integrity.</li>
      <li>Developed and maintained SQL infrastructure (tables, stored procedures, functions, views, indexes) to managed processes for reporting and analysis.</li>
      <li>Managed ETL processes as needed for data sharing between services and systems for analysis and integration.</li>
      <li>Worked to provide continuous improvement in CRM data quality and infrastructure.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-10 padleft">
    <strong>Secord Labs</strong> -- Long Beach, CA
  </div>
</div>
<div class="row">
  <div class="col-md-4 padleft2">
    <strong><i>Owner</i></strong>
  </div>
  <div class="col-md-2 col-md-offset-6">
    <strong><i>10/2016 - 08/2018</i></strong>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul>
      <li>Served as part of the implementation and project teams, participating in client contact, configuration, data migration, development, professional services.</li>
      <li>Participated in on-site analysis and trainings with clients; member of internal teams during the implementation process.</li>
      <li>Assisted in creating/executing test plans for workflow and data validation.</li>
      <li>Managed and created reports using in-house reporting tools & SQL queries in MSSQL.</li>
      <li>Created ETL data migration plans and scripts to migrate from old systems & flat files to MSSQL databases utilizing SQL Server tools, Excel and CRUD methodologies as needed.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-10 padleft">
    <strong>BKD, LLP</strong> -- Kansas City, MO
  </div>
</div>
<div class="row">
  <div class="col-md-4 padleft2">
    <strong><i>Senior Consultant</i></strong>
  </div>
  <div class="col-md-2 col-md-offset-6">
    <strong><i>03/2015 - 10/2016</i></strong>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul>
      <li>Worked closely with all project leads as well as the entire project team to ensure all deliverables were completed and delivered on time, in scope and in their entirety.</li>
      <li>Assisted in creating/executing test plans for workflow and data validation.</li>
      <li>Performed ETL operations on flat file extracted data, including cleansing and data mapping, implementing CRUD as needed via SQL Server tools, Excel, Access, and other tools.</li>
      <li>Supported multiple concurrent implementations.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-10 padleft">
    <strong>Crystal Flash</strong> -- Lowell, MI
  </div>
</div>
<div class="row">
  <div class="col-md-4 padleft2">
    <strong><i>SQL DBA</i></strong>
  </div>
  <div class="col-md-2 col-md-offset-6">
    <strong><i>08/2014 - 02/2015</i></strong>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul>
      <li>Managed SQL Server infrastructure, performance, and maintenance.</li>
      <li>Created reports using in-house reporting tools & SQL queries in MSSQL.</li>
      <li>Converted current Access databases/programs to MSSQL Server using ETL and CRUD methodologies utilizing SQL Server SSIS and import tools.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-10 padleft">
    <strong>Rutherford & Associates</strong> -- Holland, MI
  </div>
</div>
<div class="row">
  <div class="col-md-4 padleft2">
    <strong><i>Business Support Analyst</i></strong>
  </div>
  <div class="col-md-2 col-md-offset-6">
    <strong><i>11/2011 - 08/2014</i></strong>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul>
      <li>Supported business-critical Route Accounting Software for diverse companies ranging from small pizza distributors to major beer/wine distributors and Coca-Cola bottlers.</li>
      <li>Created reports using in-house reporting tools & SQL queries in MSSQL.</li>
      <li>Performed data extraction, validation, and conversions utilizing ETL and CRUD processes using SQL Server built-in tools, Monarch Pro, Excel, Access and other tools as needed.</li>
      <li>Conducted on-site and remote software training and support for both new and existing customers.</li>
      <li>Trained internal employees on new software features.</li>
      <li>Consultation on business processes relating to route accounting.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-10 padleft">
    <strong>Summit Training Source</strong> -- Grand Rapids, MI
  </div>
</div>
<div class="row">
  <div class="col-md-4 padleft2">
    <strong><i>Technical Specialist/QA Specialist</i></strong>
  </div>
  <div class="col-md-2 col-md-offset-6">
    <strong><i>06/2011 - 11/2011</i></strong>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul>
      <li>Provided hardware and software support for internal users.</li>
      <li>Supported internally-developed web application over the phone, by email & by remote assistance.</li>
      <li>Assisted in creating QA guidelines and policies for ensuring consistent testing of software.</li>
      <li>Designed and implemented automation of repetitive tasks leading to a 25% increase in efficiency.</li>
      <li>Ran ad-hoc SQL scripts and queries to support clients, internal and external, as well as the internal development team.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-10 padleft">
    <strong>The Iserv Company</strong> -- Grand Rapids, MI
  </div>
</div>
<div class="row">
  <div class="col-md-4 padleft2">
    <strong><i>IMS Assistant</i></strong>
  </div>
  <div class="col-md-2 col-md-offset-6">
    <strong><i>03/2008 - 06/2011</i></strong>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul>
      <li>Ensured integrity of data warehouse (Oracle DB) and SQL/ETL scripts/crons on a daily basis.</li>
      <li>Performed monthly test billing & audit and monitored & completed monthly production billing.</li>
      <li>Support data warehouse client application (Crystal Reports 7).</li>
      <li>Created and ran various SQL queries and scripts.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4 padleft2">
    <strong><i>Data Analyst</i></strong>
  </div>
  <div class="col-md-2 col-md-offset-6">
    <strong><i>06/2007 - 03/2008</i></strong>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul>
      <li>Performed analysis, cleansing, and loading (ETL) of acquired companies' billing systems upping efficiency in the process by 20%.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4 padleft2">
    <strong><i>Customer Support</i></strong>
  </div>
  <div class="col-md-2 col-md-offset-6">
    <strong><i>03/2006 - 01/2009</i></strong>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul>
      <li>Efficiently handled billing/technical issues and internal order processing for new/existing customers.</li>
    </ul>
  </div>
</div>
<strong><h3>PROFESSIONAL DEVELOPMENT</h3></strong>
<hr class="one">
<div class="row">
  <div class="col-md padleft1">
    Accounting/CIS Courses completed. (Baker College)
  </div>
</div>
<strong><h3>TECHNICAL</h3></strong>
<hr class="one">
<div class="row">
  <div class="col-md padleft1">
    T-SQL (Business Intelligence and ETL/CRUD operations in MSSQL, MySQL, Oracle & SQLite)<br/>
    Web/web application development with HTML, CSS, & Ruby on Rails using SVN & GIT; shell scripting
  </div>
</div>
<br/><br/>
<p class="center"><%= link_to "Resume in PDF", "Secord_Resume.pdf", :class => "btn btn-primary" %></p>