<div class="jumbotron center">
  <h2>MICHAEL SECORD</h2>
  <small>(616) 284-1820 • michael@gizmokid2005.com • <%= link_to "LinkedIn", "https://linkedin.com/in/michael-gizmokid2005" %></small>
</div>
<hr class="seven">